name=$(date '+%Y-%m-%d')
cd {{ peertube.config_directory }}/..
tar -zcvf "$name.config.tar.gz" config
cd {{ peertube.data_directory }}/..
tar -zcvf "$name.data.tar.gz" data
mv *.tar.gz {{ peertube.backups_directory }}
cd {{ postgres.postgres_directory }}/..
systemctl stop postgres.service
tar -zcvf "$name.postgres.tar.gz" postgres
systemctl start postgres.service
mv *.tar.gz {{ peertube.backups_directory }}