<?xml version="1.0" encoding="utf-8"?>
<service>
  <short>Anubis Proxy for {{ anubis.instance_name }}</short>
  <description>Protect resources against scrapers and AI.</description>
  <port protocol="tcp" port="{{ anubis.http_port }}" />
</service>
