<?xml version="1.0" encoding="utf-8"?>
<service>
  <short>Nginx Proxy for {{ instance_name }}</short>
  <description>A reverse NGINX proxy</description>
  <port protocol="tcp" port="{{ port }}" />
</service>
