[Unit]
Requires=redis.service
After=redis.service

[Container]
ContainerName=peertube
EnvironmentFile={{ base_directory }}/{{ peertube.env_file }}
Image={{ peertube.image_name}}
PublishPort=1935:1935
PublishPort=9000:9000
Volume={{ peertube.data_directory }}:/data
Volume={{ peertube.config_directory }}:/config
SecurityLabelType=peertube.process
Network=peertube.network

[Service]
Restart=always

[Install]
WantedBy=default.target