[Unit]
Requires=redis.service
After=redis.service

[Container]
ServiceName=postgres
ContainerName=postgres
EnvironmentFile={{ peertube.base_directory }}/{{ peertube.env_file }}
Image={{ postgres.image_name }}
Volume={{ postgres.postgres_directory }}:/var/lib/postgresql/data
Network=peertube.network
SecurityLabelType=postgres.process

[Service]
Restart=always

[Install]
WantedBy=default.target