<?xml version="1.0" encoding="utf-8"?>
<service>
  <short>FreshRSS Service</short>
  <description>A free, self-hostable news aggregator.</description>
  <port protocol="tcp" port="{{ fresh_rss.port }}" />
</service>
