<?xml version="1.0" encoding="utf-8"?>
<service>
  <short>Baikal Calendar</short>
  <description>A lightweight CalDAV+CardDAV server.</description>
  <port protocol="tcp" port="{{ baikal.port }}" />
</service>
